/* Slider.css */

.slider-container {
  position: relative;
  width: 100%;
  max-width: 1280px; /* Adjust max-width as per your design */
  margin: auto;
}

.slider {
  overflow: hidden;
}

.slider-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%; /* Default to 100% for mobile */
}

@media (min-width: 1024px) { /* lg breakpoint and above */
  .slide {
    min-width: calc(100% / 3); /* Three slides visible at a time */
  }
}

.slider-buttons {
  width: 100%;
  position: absolute;
  top: -50px; /* Adjust top position for proper alignment */
  display: flex;
  justify-content: space-between;
  padding: 0 10px; /* Adjust padding for proper alignment */
}

button {
  background-color: rgba(164, 18, 18, 0.5); /* Adjust button background color */
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}
